<div class="h-screen bg-sky-100">
  <section class="px-6 py-3 my-3 mt-3 bg-white border rounded-md shadow-xl">
    <h2 class="mb-4 text-xl font-bold">銷售資訊</h2>
    <%# sale_info表單 %>
    <div>
      <%= form_with model:sale_info do |sale_info| %>
        <div class="relative flex flex-wrap p-3 my-4 border rounded-md deleteFields">
            <%= render partial: 'sale_info_fields', locals: { sale_info: sale_info } %>
        </div>
        <div class="flex justify-center mb-10">
          <%= sale_info.submit "儲存", class: "btn py-3 px-5 bg-sky-600 border-sky-600 text-white text-base cursor-pointer" %>
        </div>
      <% end %>
    </div>
  </section>
</div>