<article  class="p-2 m-1 mb-2 border rounded bg-neutral-100 border-b-slate-500">
  <div class="text-sm">User:XXXX <%= users.find_by(id: comment.user_id).name%></div>
  <%# 產生星星 %>
  <% if comment.rating != 0 %>
    <div class="rating rating-sm">
      <% 5.times do |i|%>
        <input type="radio" class="pointer-events-none comment-star" <%= "checked" if  i+1 == comment.rating%>/>
      <% end %>
    </div>
  <% end %>
  <div class="text-sm text-slate-500"><%= format_date_with_time(comment.updated_at)%></div>
  <%# 評論內文 %>
  <div><%= comment.content %></div>
</article>
