<li>
  <%= link_to '所有商品', shop_path, class: "p-1 mr-4 text-sm border-b cursor-pointer w-24 sm:w-28 hover:bg-marche_pearl block" %>
</li>
<li>
  <% @sub_categories.each do |content| %>
    <%= link_to content[1],shop_path(category: content[0], sort: params[:sort]), class: "p-1 mr-4 text-sm border-b cursor-pointer w-24 sm:w-28 hover:bg-marche_pearl block" %>
  <% end %>
</li>
