<div class="container flex mx-auto">

  <div class="w-2/12 mx-auto mt-1 0">
    <div class="mx-2 mt-4 mb-4">
      <div class="flex items-center inline-block px-4 py-2 text-center border border-white rounded text-marche_orange hover:border-gray-200 hover:bg-gray-200">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="user--v1"/>
        <%= link_to '我的帳戶', edit_user_registration_path %>
      </div>
      <div class="flex items-center inline-block px-4 py-2 text-center text-gray-400 cursor-not-allowed">
        <img width="30" height="30" src="https://img.icons8.com/windows/32/ingredients-list.png" alt="ingredients-list"/>
        <p class="inline-block">我的訂單</p>
     </div>
    </div>
  </div>
  
  <div class="w-10/12 mx-auto mt-1 0">
    <h1 class="mt-4 mb-4 text-2xl font-bold">我的訂單</h1>
    <%= render partial:'users/order', collection: @orders, as: :order %>
  <div>
</div>