<div class="container flex flex-col w-full mx-auto sm:w-10/12 sm:flex-row sm:items-start">
  <div class="mx-auto mt-1 w-44 0 sm:flex-row">
    <div class="mx-2 mt-4 mb-4">
      <div class="flex items-center inline-block px-4 py-2 text-center border border-white rounded text-marche_orange hover:border-gray-200 hover:bg-gray-200">
        <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/user--v1.png" alt="user--v1"/>
        <%= link_to '我的帳戶', edit_user_registration_path %>
      </div>
      <div class="flex items-center block inline-block px-4 py-2 text-center text-orange-500 border border-white rounded hover:cursor-pointer hover:border-gray-200 hover:bg-gray-200">
        <img width="30" height="30" src="https://img.icons8.com/windows/32/ingredients-list.png" alt="ingredients-list"/>
        <%= link_to '我的訂單', orders_path %>
      </div>
      <div class="flex items-center inline-block px-4 py-2 text-center text-gray-400 cursor-not-allowed">
        <img width="30" height="30" src="https://img.icons8.com/windows/32/ingredients-list.png" alt="ingredients-list"/>
        <p class="inline-block">我的收藏</p>
      </div>
    </div>
  </div>
  <div class="w-10/12 mx-auto mt-1">
    <h1 class="mt-4 mb-4 text-2xl font-bold">我的收藏</h1>
    <% if @products.present? %>
      <div class="grid w-full grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-5 md:grid-cols-4 xl:grid-cols-6">
        <%= render partial:'products/product', collection: @products %>
      </div>
    <% else %>
      <button><%= link_to '您目前沒有收藏商品，去 Marche 市集逛逛', root_path, class: "px-4 py-2 m-2 mt-4 text-sm font-bold border-orange-200 rounded text-marche_white bg-marche_orange hover:bg-marche_orange100 hover:text-black-100 hover:cursor-pointer" %></button>
    <% end %>
  </div>
</div>
