<%# 左方邊欄 %>
  <div class="fixed flex flex-col w-1/6 h-screen my-4 ">
    <ul>
      <li>
        <h2 class="block p-1 mt-2 ml-1 text-base cursor-pointer text-marche_backend_primary w-30">我的賣場</h2>
        <li>
          <%= link_to "賣場簡介", edit_shop_path(@shop.id), class: "mt-2 ml-4 py-1 border-l-2 border-marche_backend_blue text-sm text-gray-300 cursor-pointer hover:text-marche_backend_blue500 hover:border-marche_backend_blue500 block justify-center flex" %>
        </li>
      </li>
      <li>
        <h2 class="block p-1 mt-2 ml-1 text-base cursor-pointer text-marche_backend_primary w-30">訂單管理</h2>
        <li>
          <%= link_to "我的銷售", shop_order_path(9) , class: "mt-2 ml-4 py-1 border-l-2 border-marche_backend_blue text-sm text-gray-300 cursor-pointer hover:text-marche_backend_blue500 hover:border-marche_backend_blue500 justify-center flex" %>
        </li>
      </li>
      <li>
        <h2 class="block p-1 mt-2 ml-1 text-base cursor-pointer text-marche_backend_primary w-30">商品管理</h2>
        <li>
          <%= link_to "我的商品", shop_products_path , class: "mt-2 ml-4 py-1 border-l-2 border-marche_backend_blue text-sm text-gray-300 cursor-pointer hover:text-marche_backend_blue500 hover:border-marche_backend_blue500 block justify-center flex" %>
        </li>
        <li>
          <%= link_to "新增商品", new_product_path , class: "ml-4 py-1 border-l-2 border-marche_backend_blue text-sm text-gray-300 cursor-pointer hover:text-marche_backend_blue500 hover:border-marche_backend_blue500 justify-center flex" %>
        </li>
      </li>
    </ul>
  </div>