<% if flash[:notice] || flash[:alert]%>
  <div class="hidden" data-controller='flash'>
      <p data-flash-target='notice'><%= flash[:notice] %></p>
      <p data-flash-target='alert'><%= flash[:alert] %></p>
  </div>
<% end %>


