<footer class="px-2 py-10 sm:px-16 md:px-20 lg:px-24 xl:px-28 2xl:px-32 footer bg-base-200 text-base-content mx-auto">
  <section class="w-full flex flex-wrap">
    <span class="footer-title">製作團隊</span>
    <div class="flex w-full text-zinc-600 flex-wrap"> 
      <div class="w-1/2 md:w-1/3 mb-4">
        <a href="https://github.com/matsuyama2000" class="flex items-center">
          <i class="fa-brands fa-github text-zinc-600"></i>
          <p class="text-zinc-600 px-1">柯采涵</p>
          <p class="">matsuyama2000</p> 
        </a>
      </div>
      <div class="w-1/2 md:w-1/3 mb-4">
        <a href="https://github.com/Hsuan19971005" class="flex items-center">
          <i class="fa-brands fa-github text-zinc-600"></i>
          <p class="text-zinc-600 px-1">蕭苡烜</p>
          <p class="">Hsuan19971005</p> 
        </a>
      </div>
      <div class="w-1/2 md:w-1/3 mb-4">
        <a href="https://github.com/charlie51417" class="flex items-center">
          <i class="fa-brands fa-github text-zinc-600"></i>
          <p class="text-zinc-600 px-1">蔡珵宇</p>
          <p class="">charlie51417</p> 
        </a>
      </div>
      <div class="w-1/2 md:w-1/3 mb-4">
        <a href="https://github.com/sharondolly" class="flex items-center">
          <i class="fa-brands fa-github text-zinc-600"></i>
          <p class="text-zinc-600 px-1">薛杏苹</p>
          <p class="">sharondolly</p>
        </a>
      </div>
      <div class="w-1/2 md:w-1/3 mb-4">
        <a href="https://github.com/kg936512" class="flex items-center">
          <i class="fa-brands fa-github text-zinc-600"></i>
          <p class="text-zinc-600 px-1">歐陽書豪</p>
          <p class="">kg936512</p>
        </a>
      </div>
      <div class="w-1/2 md:w-1/3 mb-4">
        <a href="https://github.com/kevinlee629" class="flex items-center">
          <i class="fa-brands fa-github text-zinc-600"></i>
          <p class="text-zinc-600 px-1">李忠泰</p>
          <p class="">kevinlee629</p> 
        </a>
      </div> 
    </div>
  </section>
  
</footer>