<% if flash[:notice] %>
  <div class="flex justify-center">
    <p class="inline-block px-3 text-center md:w-9/12 max-w-[300px] py-2 mt-5 text-lg text-white rounded-lg bg-marche_orange" id="notice"><%= flash[:notice] %></p>
  </div>
<% elsif flash[:alert]%>
  <div class="flex justify-center">
    <p class="inline-block px-3 text-center md:w-9/12 max-w-[300px] py-2 mt-5 text-lg text-red-500 rounded-lg bg-red-50" id="notice"><%= flash[:alert] %></p>
  </div>
<% end %>