<li>
  <%= link_to category_path(parent_category, sub_category: child_category.id), class: child_list_color(child_category.id, recent_child), data: {child_category: child_category.id, action: "click->category--order#changeRecentChild"} do %>
    <%= child_category.content %>
  <% end %>
</li>
