<li class="w-1/12 p-2 border grow hover:shadow-lg">
  <%= link_to product_category_path(category.id) do%>
    <div class="">
      <img src="https://picsum.photos/80/80/?random=20" class="rounded-full">
    </div>
    <p class="my-1 text-xs text-center text-gray-500"><%= category.content %></p>
  <% end %>
</li>
