<section class="w-full border-b border-gray-200 rounded-sm shadow-md hover:-translate-y-1 hover:border-marche_orange ">
  <%= link_to product_path(product) do %>
    <header class= "mb-2 w-full">
      <div class="flex justify-center">
          <img src="https://picsum.photos/400/400/" class="w-40 rounded-t-sm h-40 object-contain">
      </div>
    </header>
    <section class= "flex flex-col justify-between h-24 px-2">
      <h2 class= "flex-1 text-sm line-clamp-2"><%= product.name %></h2>
      <div class="mb-2 font-semibold text-marche_orange text-md">$<%= product.sale_infos.first.price %></div>
    </section>
  <% end %>
</section>
