<section class="border-b border-gray-200 rounded-sm shadow-md">
  <%= link_to product_path(product) do %>
    <header class= "mb-2">
      <div>
          <img src="https://picsum.photos/200/" class="w-full rounded-t-sm">
      </div>
    </header>
    <section class= "flex flex-col justify-between h-24 px-2">
      <h2 class= "flex-1 text-sm line-clamp-2"><%= product.name %></h2>
      <div class="mb-2 font-semibold text-marche_orange text-md">$<%= product.sale_infos.first.price %></div>
    </section>
  <% end %>
</section>
