<section class="w-full border-b border-gray-200 rounded-sm shadow-md hover:-translate-y-1 hover:border-marche_orange aspect-[2/1]">
  <%= link_to product_path(product) do %>
    <header class= "mb-2 w-full aspect-1">
      <img src="https://picsum.photos/400/600/" class="w-full rounded-t-sm object-none aspect-1 ">
    </header>
    <section class="px-2 flex flex-col h-full">
      <h2 class= "text-sm line-clamp-2"><%= product.name %></h2>
      <div class="mt-auto font-semibold text-marche_orange text-md">$<%= product.sale_infos.first.price %></div>
    </section>
  <% end %>
</section>
