<%# 產生星星 %>
<div class="rating rating-<%= size %> flex items-center">
  <% 5.times do |i|%>
    <input type="radio" class="pointer-events-none comment-star bg-rose-600 checked:bg-rose-500" <%= "checked" if  i+1 == average_rating%>/>
  <% end %>
</div>
