<div class="relative flex">
  <%= render 'shared/shop_sidebar' %>
  <div class="w-5/6 ml-auto">
    <div class="w-5/6 mx-auto mt-[104px]">
    <h1 class="self-end pl-3 text-3xl font-bold text-sky-800">編輯商品</h1>
      <%= render "edit_form", product: @product %>
    </div>
  </div>
</div>

