<div class="relative flex">
  <%= render 'shared/shop_sidebar' %>
  <div class="w-5/6 ml-auto mt-[84px]">
    <div class="w-5/6 mx-auto">
    <h1 class="self-end pl-3 mt-5 text-3xl font-bold text-sky-800">新增商品</h1>
      <%= render "form", product: @product %>
    </div>
  </div>
</div>